<Style>

{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/istockphoto-1352173615-612x612 (1).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    width: 200px;
    height: 100vh;

}

.properties_list h3 {
    color: red;
}

#properties_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

</Style>