body

/*
         HEADER STYLING
*/



{
    margin: 0;
    padding: 0;
}

.background-image {
    background-image: url("/images/1714555085970.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    height: 100vh;
}


.properties_list h3 {
    color: red;
}

#properties_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}
